<article>
    <header>
        {% if link %}
            <h2><a href="{{ path("BloggerBlogBundle_article", { id: article.id}) }}" title="Voir {{ article.title }}"> {{ article.title }}</a></h2>
        {% else %}
            <h2>{{ article.title }}</h2>
        {% endif %}

        {% if is_granted("ROLE_ADMIN") %}
            <div class="admin-article">
                <a href="{{ path("BloggerBlogBundle_edit", { id: article.id}) }}" title= "Editer cet article">Editer</a>
                <a href="{{ path("BloggerBlogBundle_delete", { id: article.id}) }}" title= "Supprimer cet article">Supprimer</a>
            </div>
        {% endif %}

            <time>{{ article.date|date('d M Y') }}</time>
    </header>
</article>

<div class="content">
    <img src="{{ article.image }}" alt="{{ article.title }}" height="120" width="200">
    <p>
        {{ article.content|nl2br }}
    </p>
</div>